

// color
$background-active: rgba(22, 192, 152, 0.38);
$border-active: #00B087;
$active-text:#008767;
$border-no-active: #DF0404;
$background-no-active: #FFC5C5;
$text-no-active: #DF0404;
$active: #5932EA;
$box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.50);
$aside-color: #FFF;
$text-color-aside: #9197B3;
$text-logo-version: #838383;
$evano-text: #757575;
$evano-black: #000;
$cust-name-color: #B5B7C0;
$items-name-color:#292D32;
$color-border-bottom: #EEE;
$active-members: #16C098;
$input-bg: #F9FBFF;
$filter: drop-shadow(0px 10px 60px rgba(226, 236, 249, 0.50));
$pagination-button: #F5F5F5;
// font-weight
$font-weight600: 600;
$font-weight500: 500;
$font-weight400: 400;

// font-size
$font-size10: 10px;
$font-size11: 11px;
$font-size12: 12px;
$font-size14: 14px;
$font-size15: 15px;
$font-size22: 22px;
$font-size24: 24px;